*{margin: 0;
    padding: 0}
body{
    font-family: "arial","calibri";
    width: 100%;
    background-image: url(images/pattern_125.gif);
    background-attachment: fixed;
    background-repeat: repeat
}
.main{margin: 0 auto;
     width: 1150px;
    height: auto;
    display: block;
    overflow: hidden;
    margin-top: 2%;
}
.wrap{
    width:100%;
    margin:0 auto;
   position: relative;
    height: auto;
}
.wrap ul ul {
	display: none;
}
.wrap ul li:hover > ul {
		display: block;
}
.wrap #ul{border-radius: 0px;width: 100%}
.wrap ul {
	background: #1B2E16;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px 0%;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
.wrap ul:after {
		content: ""; clear: both; display: block;
	}
.wrap  ul li {
	float: left;  
}
.wrap  ul li:hover {
    background: #657336;	
   position: relative;
}
.wrap ul li:hover a{
    color:white;
    transition:all 1s ease;
}
.wrap ul li:active a{
    background: black;
}
.wrap ul li:visited a{
    color: crimson;
}
.wrap  ul li a {
    display: block;
	padding: 10px 22px;
    color: #c2d9c6;
    text-decoration: none;
    font-size: 1em;
}
.wrap ul ul {
	background: #1B2E16;
    padding: 0;
	position: absolute;
    top: 100%;
}
.wrap  ul ul li {
		float: none; 
		border-bottom: 1px dashed white;
		position: relative;
        text-decoration: none
}
.wrap ul ul li a {
    padding: 9px 9px;
    text-decoration: none;
    overflow: hidden;
    position: relative}	
.wrap ul ul li a:hover {
    background: #657336;
}
.img,.content4 img{
    background: url("images/Butterfly-Green-Fields-Nature-1280x800.jpg");
    height: auto;
    margin: 0 auto;
    width: auto;
    border-radius:15px;
}
.content4 img{
    width: 98%;
    margin-left: 1%
}
.img p,.img h2,.img h3{
    color:#92513B;
    font-weight:900;
    font-variant: small-caps;
    font-size: 1em;
    padding: 2%;
   margin-left: 30%;
    text-align: center;
}
.maincontent{
    margin: 0 auto;
    overflow: hidden;
    border-radius:15px;
    background:url(images/fake-brick.png);
    background-color: #1b2e16;
}

.content,.content2,.content3,.content_en_bf,.content4,.content5,.content6,.content7,.content8,.aboutus{
   float: right;
    margin-right: 6%;
    margin-top: 1%;
    width: 69%;
    overflow: hidden;
}
.image{
    background-image: url(images/butterfly123.png);
    width: 100%;
    height: 200px;
    border-radius: 15px
}
.aboutus p{width: 70%;text-align: justify;line-height: 30px;margin: 0 auto;color: aliceblue;font-size: 1.2em}

.image h3,h4{color: azure;line-height: 50px;margin:0% 0% 0% 14%;font-family: inherit;font-size: 1.5em}

.content2 a{
    color: azure;
    font-size: 1.5em
}.content2 a:hover{color: black}
.content9{
    width: 90%;overflow: hidden;
}
.leftbar .add{height: auto;}
.add img{
    width: 90%;
    margin-top: 8%;
    margin-left: 8%;
}.add a{color: azure;margin-left: 40%;text-decoration: none;font-size: 1em}.add a:hover{text-decoration: underline;color: black}
#habitat1,#habitat3,#habitat4,#habitat2{
    text-align:justify;
    border-top: solid 1px white
}
.heading3{
    margin-left: 2%;
    color: white;
    font-family: inherit
}
.content3 .Image1,#Image2,#Image3,#Image1{
    width: 30%;
    margin-right: 2%;
    box-shadow:
      0 0 0 3px hsl(98, 0%, 27%), 0 0 0 6px hsl(0, 0%, 100%);
    border-radius: 0px;
    float: right;
    margin-top: 2%;
}

.sidebar,.sidebar_habitat{
    width: 100%;
    float: left;
    margin-left: 2%;
    margin-right: 0%;
    margin-top: 2.4%;
    border-radius:0 20px 0 20px;
     background: white;
}
.sidebar{
    background-image: url(images/pattern_37.gif);
    margin-left: 0%;
    margin-top: 9%;
    margin-bottom: 2%  
}
.leftbar .sidebar_habitat{
    background-color:darkolivegreen;
    background-image: url(images/pattern_26.gif)
}
.leftbar{
    float: left;
    width: 23%;height: auto;
    border-right: solid 1px white;
}
.sidebar_habitat,.sidebar_habitat p{
    background: none;
}
.sidebar input{
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 8%;
}
.sidebar .txt{
    width: 50%;
}
.sidebar .sidebar_img{
    width: 8%;
    float: left;
    margin-top: 4%;
    margin-left: 4%
}
.leftbar .sideImage{
    width: 15%; float: left;margin-left: 7%;margin-top: 4%
}

.sidebar .btn{
    width: 25%;
    cursor: pointer;
}
.sidebar ul{
    margin-left: 4%;
    list-style-image: url(images/BD14565_.GIF);
	padding: 0 15px;  
}
.sidebar_habitat ul{
    margin-left: 2%;
    padding: 0 15px; 
    list-style: none
}
.sidebar ul li,.sidebar_habitat ul li{
    padding: 3%;
    border-bottom: dotted 1.8px white
}
.sidebar ul li a,.sidebar_habitat ul li a{
    color:white;
    text-decoration: none; 
    font-weight: 400
}
.sidebar ul li a:hover{
    text-decoration: underline;
    color:black;
}
.sidebar_habitat ul li a:hover{
    font-weight: bold;
    color: darkslategrey
}
.sidebar img{
    width:103%; 
}
.sidebar_habitat p{
    color: aliceblue;
    font-family: inherit;
}
.sidebar_habitat img{
    width: 40%;
    height: 50px;
    float: left;
    margin-right: 1%
}
.sidebar_habitat button{
    background: #8EB50C;
    text-decoration: none;
    height: 25px;
    border-radius: 8px
}
/*leftbar link*/
.leftbar .link,.add{
    width: 100%;
    float: left;
}
.content h1{
     font-family:serif;
	color:ghostwhite;
	font-variant: small-caps;
    font-weight: 700;
    font-size: 2.2em;
   letter-spacing: .2em
}
.content2 h1,.content3 h1,.content_en_bf h1,.gallery h1,.content4 h1,.content5 h1,.form h1,.content6 h1,.content7 h1,.content8 h1,.content9 h1{
    font-family:serif;
	color:ghostwhite;
	font-variant: normal;
    font-weight: 700;
    font-size: 2.2em;
}
.gallery h1{
    color: darkslategray
}
.gallery h1{
    margin-left: 1%
}
.content h1:first-letter,.content2 h1:first-letter,.content3 h1:first-letter,.content_en_bf h1:first-letter,.gallery h1:first-letter,.content4 h1:first-letter,.content5 h1:first-letter,.form h1:first-letter,.content6 h1:first-letter,.content7 h1:first-letter,.content8 h1:first-letter,.content9 h1:first-letter{
    font-size: 2.2em;
    margin-left: 2%;
}
.content5{
    border: dotted 1px;
    border-radius: 15px;  
}
.content5 img{
    width: 30%;
    height: 200px;
    border-radius: 15px;
    margin-left: 35%;
      box-shadow:
      0 0 0 7px hsl(98, 26%, 27%),0 0 0 12px hsl(0, 6%, 75%);
    margin-bottom: 2%
}
.content_en_bf table,th, td{
     border: 1px dashed #626262;   
}
.content_en_bf .tr1{
    background: #FFFFFF  
}
.content_en_bf .tr2{
    background: #EAF2D3
}
.content_en_bf table{
    margin-left: 1%;
    margin-bottom: 1%
}
td{
    width: 25%;
    height:120px
}
.content_en_bf td{
    text-align: center
}
.content3 p,.content5 p,.content8 p{
    color: white;
    font-family: "arial";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2%;
   margin-left: 2%;
    width: 96%;
    text-align: center
}
.content5{
    background: #5e594a;
}
.content5 p{
    margin-top: 2%;
}
.content3 table{
    text-align: center
}
.content3_p{
    text-align: justify;
}
.content_en_bf th,.content3 th{
    height: 50px;
    text-align: center;
    background:#A7C942;
    font: arial;
    color:black;
    text-align: center;
}
.content_en_bf table td img{
    margin-left: 2%;
    border-radius:15px;
}
.content_en_bf table,.content3 table{
    border-collapse: collapse;
    width: 98%;
    margin-top: 1%;
    color: gray;
}
.content_en_bf ul li{
    text-align: left;
    margin-left: 8%;
}

.content4 h3,.content5 h2,.content6 h3{
    font-family: 'Lato';
	font-size: 1em;
    color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-left: 1%
}
.h2{
    width:40%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1em;
    margin-left: 1%;
    color: azure
}
.content4 h3{
    margin-top: 1%;
    font-size: 1.5em;
    text-decoration: underline
}
.content p,.content2 p,.content9 p{
   color: white;
    float: right;
    font-family: "arial";
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 0;
    overflow: hidden;
    width: 77%;
    text-align: justify
}
.content img,.content2 img{
    width:18%;
    border-radius:15px;
    margin-left: 1%;
}
.content3{
    font-family: "serif";
    margin-left: 1%;
    background: #253823 ;
    margin-bottom: 1%;
    border-radius: 10px
}
.content3 p{
    text-align: justify
}

.content3 dl{
    width: 100%;
  overflow: hidden;  
}

.content3 dl dd{
    width: 30%;
    text-decoration: underline;
    margin-left: 2%;
    font-size: 1.5em;
    color: aliceblue;
}
.content3 dl dt{
    margin-left: 5%;
    line-height: 2em;
    font-weight: 600;
    color:white;
}
#Image{
    margin-left: 25%;
    width:50%;
    height: 300px
}
#center{
    text-align: center
}
.content3 img,.content7 img,.content8 img{
    display: block;
    height: 165px;
    margin-left: 1%;
    margin-top: 1%;
    width: 98%;
    border-radius:15px;
    margin-bottom: 1%;
}
.content3 dl{
    background-image: url(images/Screenshot_1.png);
    border-radius:15px;
}
.migration{
    text-align: justify
}
.gallery{
    cursor: default;
	list-style: none; 
    overflow:visible;
    float: right;
    margin-right: 6%;
    margin-top: 2.4%;
    width: 69%;
    border-left: solid 1px white;
    border: solid 4px #DCB4A0;
    border-radius: 10px;
    background: url("images/pattern_140.gif")
}
.gallery a
{
	cursor:pointer
}
.gallery a .Butterfly_gallery
{
	display: none;
}
.gallery a:hover .Butterfly_gallery
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1
}
.gallery h5{
    text-align: center
}
.gallery img
{
	background: #7FC797;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	vertical-align: top;
	width: 140px;
	height: 120px;
    margin-left: 1%;
    border-radius: 10px;
}
.gallery li
{
	background: #DCB4A0;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
    border-radius: 10px
}
.gallery .Butterfly_gallery
{
	border-color: #000;
	width: 250px;
	height: 200px;
}
.stage1,.stage2,.stage3,.stage4{
    background: url(images/green_cup.png);
    overflow: hidden;
    border-radius: 15px;
    margin-left: 2%;
    border: solid 2px white
}
.stage2,.stage3,.stage4{
    margin-top: 2%;
}
.stage4{
    margin-bottom: 2%
}

.stage1 img,.stage2 img,.stage3 img,.stage4 img{
    float: left;
    width: 20%;
    height: 150px;
    margin-left: 20%;
    padding: 5px;
     box-shadow:
      0 0 0 4px hsl(0, 0%, 65%),
      0 0 0 8px hsl(0, 40%, 96%)
}
.stage3 img{
     margin-left: 40%
}
.stage1 h3{
    color: white
}
.stage1 p,.stage2 p,.stage3 p,.stage4 p{
    text-align: center;
    float: left;
    color: white;
    padding: 2%;
    color: white 
}
#bottom{
    float: right;
    border: solid 1px red;
    background: #978A79;
    text-decoration: none;
    font-size: 1.5em;
    height: 40px;
    text-align: center;
    border-radius: 1px;
    color: azure;
    margin-bottom: 10%;
    margin-right: 3%  
}
.leftbar table{
    background:url(images/white_texture.png);
    width: 80%;
    margin-left: 13%;
    margin-top: 2%
}
#ac td{height: 1%;text-align: center;font-weight: bold}
.leftbar table p{color: azure}
#ac1 ul li,#ac2 ul li{font-size: .7em;list-style: none;margin-left: 10%}

.footer{
    background: url("images/footer1.png");
    height: 222px;
    margin: 2px auto;
    overflow: hidden;
     width: 1150px;
    border-radius:15px;
    margin-bottom: 2%
}
.about,.footer-content,.middle-content,.righttside{
    margin-top: 4%;
    margin-left: 15%;
    width:15%;
    float: left
}
.righttside{ margin-left: 15%;
    margin-top: 2.8%;color: darkcyan
}.righttside img{ border: 3px solid green;
    border-radius: 57px;}

.about ul li,.footer-content ul li{
    list-style: none;
    list-style-image: url(images/BD14565_.GIF);
    padding: 3%;
}
.about ul li a,.footer-content ul li a{
    text-decoration: none;
    color: darkslategrey;
}
.about ul li a:hover,.footer-content ul li a:hover{color: black;text-decoration: underline}
.about ul li a:active,.footer-content ul li a:active{color: #0000FF;text-decoration: underline}
.footer-content{width: 26%;margin-left: 5%;float: left;margin-top: 4%}
.para p{
    width: 95%;
    text-align: justify;
    margin-left: 2%
}
.image_border{
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-image: url(images/grass-border-md.png);
    background-repeat: repeat
}
.form{
    width: 66%;float: left;
    margin-left: 3%;border-radius: 15px;
}
#form_details{
    margin-left: 3%;color: aliceblue
}
#button{
    margin-left: 45%;
    margin-bottom: 2%
}
#div1,#div2,#div3,#div4,#upload,.content10{
    margin-top: 3%;
    margin-bottom: 4%
}
#div1 input{
    margin-left:17.2%
}
.content10 input{margin-left: 10%}
.content10{color: white;border-left: none;width: 100%;margin-left: 35%}
.content10 button{margin-left: 15%}
.content10 input,.content10 label,.content10 h3{margin-left: 2%;margin-top: 2%;margin-bottom: 2%}
#div3 select{
    margin-left: 16%
}
#div2 input{
    margin-left: 10%
}
#div4 select{
    margin-left: 16%
}
#comment{
     margin-left: 40%;
    margin-top: -3%;
}

.content6 ul li{
    list-style:none;
    padding: 3%; 
}
.content6 ul li a{
    text-decoration: none;
    color: azure;
    margin-left: 2%;
}
.content6 ul li a:hover{
    text-decoration: underline;
    color:antiquewhite
}
.Image5{
    width: 20%;
    height:60px;
    float: left;
}
.content7_p{
    text-align: justify;
    float: left;
    line-height: 25px;
    margin-left: 2%;
    margin-right: 2%;
}.content7{background: #899286;
    border-radius: 10px
}
#Decling_Image{
    float: right;
    width: 49%;
    height: 250px
}
.content7 .causeofdeclin{
    margin-top: 2%; 
    margin-left: 2%;
    width: 47%;
    float: left;
    overflow: hidden;
}
.content7 .causeofdeclin dl dt{
    line-height: 25px;
    font-family: inherit;
    color: white;
    text-decoration: underline;
}
.content7 .causeofdeclin dl dd{
    margin-left: 5%;
    font-size: 1.2em;
}

.list{
    margin-left: 3%;
    width: 65%;
    float: right;
    text-align: justify
}
.list li{
    color: azure;
    padding: 2%;
    line-height: 1.5em;
    list-style: decimal
}
.side-image{
    float: left;
    width:20%;
    list-style: none;
    margin-left: 8%
}
.side-image img{
    width: 80%;
    margin-left: 2%;
    border-radius: 0%;
    padding: 4%
}



