body{
    margin: 0 auto;
    
}

.main{
    width: 1400px;
}

.contain{
    margin-top: 10px;
    float: right;
    margin-right: 60px;
    border: 1px solid black;
    width: 1000px
}

.leftbar{
    float: left;
    width: 300px;
    border: 1px solid black
}



